body, html
{
    height:100%;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}
#dateAndtime
{
    position: absolute;
    top:0;
    right: 2px;
    font-size: 25px;
    color: greenyellow;
    display: inline-block;
}
#company_logo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
}
#company_name
{
    font-size: 50px;
    color: aqua;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
}
.top-part
{
    position:relative;
    width: 100%;
    text-align: center;
}
#links
{
    position: relative;
    top: -50px;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
a:link
{
    color:chartreuse;
}
a:visited
{
    color:mediumslateblue;
}
a:hover
{
    color:orange;
}
.background
{
    height:100%;
    background-image: url(/Images/car_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.footer
{
    position: relative;
    bottom: 0;
    color: white;
    text-align: center;
}
